<div class="hero-section-main float-center">
  <div class="hero-section-text-main">
    <h1> Support Moray Eel </h1>
    <h2>The new support roster website that is the opposite of the support rooster.</h2>
  </div>
</div>