<div class="callout large primary">
  <div class="row column text-center">
    <h1>Support Moray Eel</h1>
    <h2 class="subheader">The new support roster website that is the opposite of the support rooster.</h2>
  </div>
</div>

<div class="grid-x">
  <div class="large-2 cell"></div>
  <div class="large-8 cell">
  </div>
  <div class="large-2 cell"></div>
</div>