<div id="app">
  {{ message }}
</div>

<div class="callout large primary">
  <div class="row column text-center">
    <h1>Support Moray Eel</h1>
    <h2 class="subheader">The new support roster website that is the opposite of the support rooster.</h2>
  </div>
</div>

<div class="grid-x">
  <div class="large-2 cell"></div>
  <div class="large-8 cell">
    <div class="blog-post">
      <h3>Awesome blog post title <small>3/6/2015</small></h3>
      <img class="thumbnail" src="https://placehold.it/850x350">
      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.
        Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac
        lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget
        luctus.</p>
      <div class="callout">
        <ul class="menu simple">
          <li><a href="#">Author: Mike Mikers</a></li>
          <li><a href="#">Comments: 3</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="large-2 cell"></div>
</div>