<% content_for :title, 'Roster' %>
<div class="grid-x">
  <div class="large-2 cell"></div>
  <div class="large-8 cell">
    <h1 class="text-center">Roster</h1>


    <div class="hero-section thumbnail float-center">
      <div class="hero-section-text">
        <h1> Today </h1>
        <h3><b><%= @roster.first.name %></b> is on duty</h5>
      </div>
    </div>

    <table>
        <tr>
            <th>Name</th>
            <th>From Date</th>
            <th>To Date</th>
        </tr>
        <% @roster.each do |schedule| %>
            <tr>
                <td class="text-center"><%= schedule.name %></td>
                <td class="text-center"><%= schedule.from_date.strftime(@date_format) %></td>
                <td class="text-center"><%= schedule.to_date.strftime(@date_format) %></td>
            </tr>
        <% end %>
    </table>

  </div>
  <div class="large-2 cell"></div>
</div>