<% content_for :title, 'About' %>
<div class="grid-x">
    <div class="large-2 cell"></div>
    <div class="large-8 cell">
        <h1 class="text-center">About Support Moray Eel</h1>
        <h2>History</h2>
        <p>
            Moroku has the obligation to provide support to Cuscal Monday to Friday 0800 - 18:00. 
            To achieve this a schedule has been set up to rotate the support phone around to share the load between Moroku employees.
        </p>
        <p>
            The first iteration of this support roster was simply a table on Confluence that had to be checked every week and constantly updated. 
            This proved very inefficient and time consuming.
        </p>
        <p>
            The second iteration of this support roster took the form of an online application comically named the "support rooster". The app can be found <a href='http://support-rooster.herokuapp.com'>here</a>.
            The support rooster proved much more useful than the tables as it self updated. The roster still needed to be checked regularly. 
        </p>
        <p>
            The support rooster web app has not been maintained and the decision was made to replace the the web app with a new web app that can be maintained and updated. This is where the Support Moray Eel was born. 
        </p>


        <h2>Why Moray Eel?</h2>
        <p>When deciding on a name for the new app, we had one question:</p>
        <p>What is the opposite of a rooster?</p>
        <p>The answer...</p>
        <h3>The Moray Eel!</h3>
        <p>No animal is the opposite of a chicken in every way, but these things come pretty close.</p>
        <ul>
            <li> Chickens are birds. Moray eels are fish. </li>
            <li> Chickens are land-dwelling animals. Moray eels are water-dwelling animals. </li>
            <li> Chickens are small animals. Moray eels can be very large (up to 15 feet) and weigh around 30 pounds on average (twice the weight of a heavier-average chicken). </li>
            <li> Chickens breathe air. Moray eels “breathe” water. </li>
            <li> Chickens have legs and wings. Moray eels have fins (only dorsal fins). </li>
            <li> Chickens have feathers and scales. Moray eels have only slimy skin. </li>
            <li> Chickens have beaks. Moray eels have teeth (in fact, they have two sets, for their two sets of jaws!). </li>
            <li> Chickens lay fertilized eggs. Moray eels lay eggs that are then fertilized. </li>
            <li> Chickens are omnivores and prey animals. Moray eels are carnivores and predators. </li>
            <li> Chickens are social animals. Moray eels are solitary animals. </li>
            <li> Chickens are diurnal (awake during the day). Moray eels are mainly nocturnal. </li>
            <li> Chickens have excellent vision. Moray eels have very poor vision. </li>
            <li> Chickens care for their young. Moray eels do not care for their young. </li>
            <li> Plus, just look at them: </li>
        </ul>
        <img class="thumbnail float-center" src="https://qph.fs.quoracdn.net/main-qimg-31309439eb292be38cd7f08aeb011a3b-c" alt="Photo of a Moray Eel.">
        <img class="thumbnail float-center" src="https://qph.fs.quoracdn.net/main-qimg-48f33921cf294f3033f9acf3bdbcd6ca" alt="Photo of Chickens.">


        <p>
            <a href='https://www.quora.com/What-animal-is-the-polar-opposite-of-a-chicken'>Credit to Rachel Evans, chicken owner, 10+ years</a>
        </p>
    </div>
    <div class="large-2 cell"></div>
</div>