// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-section-main {
  background: url('https://picsum.photos/1920/1080?random') 50% no-repeat;
  background-size: cover;
  height: fill;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text-main {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
}